@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
.AdminWrapped {
  font-family: "Roboto Condensed", sans-serif;
}
.adminField {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  padding: 20px;
}
.Buttons {
  margin-top: 42px !important;
  color: white !important;
}
