@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
/***********Hero section css***********/
.heroSection {
  font-family: "Roboto Condensed", sans-serif;
  padding: 80px 0;
}
.content .title h2 {
  font-size: 60px;
  font-weight: 600;
}
.desc {
  margin: 25px 0;
}
.button {
  margin-top: 45px;
}
.button a {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, #03228f 0%, #1d62f0 100%);
  color: #ffffff;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  padding: 15px 25px;
}
.button a:hover {
  background-image: linear-gradient(90deg, #0d6ada 0%, #0d6ada 100%);
}
/***********About css*******************/
.AboutWrapped {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: capitalize;
  position: relative;
  padding: 15px 0;
}
.shape {
  margin-top: 90px;
}
.left-lottie {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.left-lottie img {
  width: 223px;
}
.right-lottie {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.right-lottie img {
  width: 350px;
}
.title {
  color: black !important;
}
.aboutTitle h2 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  margin: 15px 0;
}
.aboutImage img {
  box-shadow: 0px 2px 10px gray;
  border-radius: 5px;
}
/***********Services css*******************/
.ServicesWrapped {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: capitalize;
  position: relative;
  padding: 30px;
}
.serviceIcon img {
  width: 60px;
  height: 60px;
}
.service-item {
  margin: 20px 0;
  padding: 25px;
  background: #f3f7ff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: unset;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.service-item:hover .serviceIcon img {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}
.service-item:hover {
  background: white;
  box-shadow: 0px 2px 10px gray;
}
.serviceIcon {
  margin-bottom: 30px;
}
.service-title h3 {
  color: black !important;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
}
.serviceButton {
  margin-top: 25px;
}
.service-content {
  font-size: 14px;
}
.serviceButton a {
  padding: 10px 15px;
}
span h4 {
  font-weight: 600;
}
/***********Why Choose*************/
.WhyChooseWrapped {
  font-family: "Roboto Condensed", sans-serif;
  background: url(https://i.ibb.co/TPWws2h/choose-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  color: white;
}

/***********Testimonial css***************/
.TestimonialWrapped {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: capitalize;
  background: url(https://i.ibb.co/Wpx1QXN/tech-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
}
.heading {
  position: relative;
  color: white;
}
.heading h5::before {
  content: "";
  position: absolute;
  background: #052797;
  height: 4px;
  width: 10%;
  left: 0;
  bottom: -7px;
}
.star {
  color: orange;
}
.content {
  margin: 15px 0;
}
.img {
  display: flex;
  align-items: center;
}
.img img {
  width: 45px;
  height: 45px;
  box-shadow: 0px 3px 9px 0px grey;
  border-radius: 50%;
  border: 3px solid white;
  margin-right: 10px;
}
.testimonial-item {
  border: 1px solid #b9b9b959;
  margin: 10px;
  padding: 10px;
  position: relative;
  background: #00000075;
  overflow: hidden;
  color: white;
}

/********Contact form css***************/
.input {
  margin: 10px 0;
  background: #8080803d;
  border-radius: inherit;
  border: none;
  resize: none;
}
::placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-size: 15px;
}
.form-wrapped {
  font-family: "Roboto Condensed", sans-serif;
  width: 70%;
  margin: 50px auto;
  position: relative;
  padding: 20px;
  background: white;
  box-shadow: 0px 2px 10px grey;
}
.contact-us {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, #03228f 0%, #1d62f0 100%);

  position: absolute;
  left: -43px;
  padding: 10px;
  height: 100%;
  display: flex;
  width: 271px;
  align-items: center;
  box-shadow: 0px 2px 10px grey;
}
.icon {
  margin-right: 5px;
}
.address ul li {
  list-style: none;
  height: 50px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-left: -22px;
}
.address h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}
.contact-form h3 {
  color: #294a5e;
  font-weight: 600;
}

.contact-form span {
  color: #5d5d5d;
}
.buttons {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, #03228f 0%, #1d62f0 100%);
  border: none;
}
.buttons:hover {
  background-image: linear-gradient(90deg, #0d6ada 0%, #0d6ada 100%);
}
/**********Footer Widget css*************/
.FooterWrapped {
  font-family: "Roboto Condensed", sans-serif;
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, #03228f 0%, #1d62f0 100%);
  padding: 30px;
  color: white;
}
.content h5 {
  font-size: 15px;
}
.widget h6 a {
  color: white;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
}
.widget h6 a:hover {
  color: orange;
  margin-left: 5px;
}
.widget .sIcon {
  font-size: 20px;
  margin-right: 10px;
}
/********Responsive css*************/
@media (max-width: 991px) and (min-width: 768px) {
  .contact-us {
    left: -80px;
  }
}
@media only screen and (max-width: 767px) {
  .content .title h2 {
    font-size: 35px;
    font-weight: 600;
  }
  .aboutImage {
    margin-top: 40px;
  }
  .WhyChooseWrapped {
    padding: 35px 10px;
  }
  .right-content h2 {
    font-size: 23px;
  }

  .right-content h4 {
    font-size: 21px;
  }

  .right-content {
    margin-top: 13px;
  }
  .form-wrapped {
    width: 100%;
  }
  .contact-us {
    display: none;
  }
}
@media only screen and (max-width: 591px) {
  .shape {
    display: none;
  }
  .left-content h5 {
    font-size: 15px;
  }
  .ServicesWrapped {
    padding: 8px;
  }
  .TestimonialWrapped {
    padding: 13px;
  }
}
