.allWrapp {
  display: flex;
  justify-content: space-between;
}
.sidebarMenu {
  width: 25%;
  background-image: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
  color: white !important;
  position: fixed;
  height: 100%;
  padding: 10px;
}
.right-content {
  width: 75%;
  margin-left: auto;
  padding: 10px;
  border-radius: 5px;
}
